bin
doc
classes
log
build
.gradle
log.txt
std.log
err.log
nohup.out
target
META-INF
Servers
test-output
HEAD
LAST_DEPLOY_VERSION

index_data
indexer/index
miscsearch/index
videosearch/index
func_test/reports

.classpath
.DS_Store
.metadata
.myeclipse
.mymetadata
.project
.settings
ucdetector_reports
.recommenders
.idea
*.iml
.svn
.bak
*.war
suggestion_cache_file.xml
*.pyc
*.swo
*.swp
*.ipr
*.iws
